<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Websockets.Pcl" version="1.1.9" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Xam.Plugin.LiveSync" version="1.0.14" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.267" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>